[Unit]
Description=Badminton Court Planner
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
Environment=PATH=/venv/bin
EnvironmentFile=/.env
ExecStart=/venv/bin/python app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
